@use "../../style/variables" as v;

.selectExercise {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  border: 1px v.$clr-accent-border solid;
  border-radius: v.$radius-regular;
  background-color: v.$clr-accent;

  > * {
    margin: 0.5rem;
  }

  select {
    padding: 0.5em 1em;
    border-radius: v.$radius-regular;
  }
}
