@use "../../style/variables" as v;
@use "sass:color";

.input {
  color: v.$clr-text;
  font-size: v.$fs-600;
  border: 1px v.$clr-outline solid;
  border-radius: v.$radius-regular;
  background-color: v.$clr-bg;
  padding: 1em;
  min-width: 8ch;
  &::placeholder {
    color: color.adjust(v.$clr-text, $alpha: -0.8);
    font-style: italic;
  }
}
