@use "./variables" as *;
@use "mixins";

img {
  max-width: 100%;
  display: block;
}
body {
  font-family: $ff-primary;
  background-color: $clr-bg;

  .container--default {
    @include mixins.container(60em);
  }
  .flex {
    @include mixins.flex;
  }
}
