@use "./variables" as *;
@use "mixins";

*,
::before,
::after {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.cards-row {
  display: flex;
  gap: 2rem;

  & > * {
    flex: 1 1 20em;
    min-width: 0;
  }
}
.overview__link {
  color: inherit;
  padding: 0.6em;
  border: 2px solid grey;
  border-radius: calc($radius-regular * 2);
  text-decoration: none;
  align-self: flex-start;
}

body {
  font-family: $ff-primary;
  background-color: $clr-bg;
  color: $clr-text;

  .container--default {
    @include mixins.container(60em);
  }
  .flex {
    @include mixins.flex;
  }
}
