@use "./variables" as *;
@use "mixins";

*,
::before,
::after {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  font-family: $ff-primary;
  background-color: $clr-bg;
  color: $clr-text;

  .container--default {
    @include mixins.container(60em);
  }
  .flex {
    @include mixins.flex;
  }
}
