@use "../../style/variables" as *;
@use "../../style/mixins";

.section {
  margin-block: 2rem;
  margin-inline: auto;
  align-items: center;
  &:first-of-type {
    margin-top: 0;
  }

  &__overview {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
